<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Puzzle</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/congrats.css')}}">
</head>

<body>
    <header>
        <nav>
            <ul class="navigation-list">
                <li>
                    <a href="/leaderboard">Leaderboard</a>
                </li>
                <li>
                    <a href="/puzzle">Puzzle</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <br><br>
    <center>
    <h1> Congrats!!! Seems Like you've solved all the hurdles, dear Wizard.</h1><br>
    <h1>Now's the time to hunt for the treasure. This might help. Good Luck.</h1>
    </center>
    <br><br>
    <div class="puzzle-container">
        <div class="image-container">
            <img src="https://i.postimg.cc/d3955DfB/final.jpg" style="width: 100%"/>
        </div>
    </div>
</body>

</html>
