<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Puzzle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/puzzle.css')}}">
</head>

<body>
    <header>
        <nav>
            <a href="/leaderboard" align="left" style="margin-top: 10px; margin-left: 10px; font-size:30px" class="btn btn-light"><b>Leaderboard</b></a>
            <a href="/puzzle" align="left" style="margin-top: 10px; margin-left: 10px; font-size:30px" class="btn btn-light"><b>Puzzle</b></a>
            <a href="/logout" align="right" style="margin-top: 10px; margin-right: 10px; float: right; font-size:30px" class="btn btn-danger"><b>Logout</b></a>
        </nav>
    </header>

    <div class="puzzle-container">
        <br>
        <h2>Current Level : {{level}}</h2>
        <br><br>
        <div class="image-container">
            <img src={{image_link}} />
        </div>
        <br><br>
        <form action="/puzzle" method="POST">
            <div class="form-container">
                <div class="textbox">
                    <input type="text" name="answer" placeholder="Enter your answer here">
                </div>
                <div>
                    <input class="button" type="submit" title="Submit">
                </div>
            </div>
        </form>
    </div>
</body>

</html>
